h1[data-v-ce6770ce]{box-sizing:border-box;position:-webkit-sticky;position:sticky;top:0;padding:1em;margin:.25em;border:1px solid;width:calc(100% - .5em);background-color:hsla(0,0%,100%,.95)}.text[data-v-ce6770ce]{margin:.5em;background-color:#d4c1c1}