.registration[data-v-c9367912]{padding:1em 3em 1em 3em}input[data-v-c9367912]{margin:.25em;padding:.5em}input[type=button][data-v-c9367912]{width:100px;background-color:#42b983;border-color:#fff;color:#fff}